.row
  .twelve.columns
    %h1   TRIP SHIT


.addtrip
  .form
    //FORM STUFF GOES HERE FOR ADD
  .addtripbutton

//LOOP OVER USER TRIPS
.trips#trips
  =@trips.each do |trip|
    .trip
      .showtrip
        .trip_name=trip.name
        .trip_startdate=trip.startdate
        .trip_enddate=trip.enddate
        .buttons
          .edit_trip_btn
          .delete_trip_btn
      .tripactivities.hide

#edit_trip_form.hide

