div {
  border: 1px red dotted;
}

.edit_trip_btn
{
  background-image: url('/assets/images/pencil-6-32.png')
}

.delete_trip_btn
{
  background-image:url('/assets/images/trash-can-8-32.png');
}

.inline{
  display: inline-block;
}

