<!-- Footer -->

  <footer class="row">
  <div class="twelve columns"><hr />
      <div class="row">

        <div class="six columns">
            <p>&copy; 2013 your mom.</p>
        </div>

        <div class="six columns">
            <ul class="link-list right">
              <li><a href="#">Link1</a></li>
              <li><a href="#">Link2</a></li>
            </ul>
        </div>

      </div>
  </div>
  </footer>