  <!-- Navigation -->

  <nav class="top-bar fixed">
    <ul>
      <li class="name"><h1><a href="/">Travelr</a></h1></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
      <ul class="left">
        <li><a href="#">Link</a></li>
        <li><%#= link_to('Activities', activities_path) %></li>
        <li><a href="#">Link</a></li>
      </ul>

      <ul class="right">
        <% if @auth.present? %>
          <li><%= link_to('Logout: ' + @auth.name, login_path, :method => :delete, :confirm => 'see ya?') %></li>
        <% else %>
          <li><%= link_to("Log in", login_path) %></li>
        <% end %>
        <li><%= link_to("Create Account", new_user_path) %></li>
      </ul>
    </section>
  </nav>

  <!-- End Navigation -->
